.completed {
    text-decoration: line-through;
}

ul {
    color: rgb(170, 27, 70);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: rgb(115, 218, 55);
}