.completed {
    text-decoration: line-through;
}

ul {
    color: rgb(170, 103, 27);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: teal;
}